@model DarrenBlogSamples.UI.Models.D3.RealTimeMapAdmin
@{
    ViewBag.Title = "RealTimeMapAdmin";
}

<h2>Real Time Map Admin</h2>
<p>Created as part of <a href="http://www.darreningram.net/real-time-map-with-d3-js-and-asp-net-signalr/">Real Time Map with D3.js and ASP.NET SignalR</a></p>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Instructions</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li>Leave this page open</li>
            <li>Open the <a target="_blank" href="RealTimeMap">Real Time Map</a> page in a seperate browser window/tab</li>
            <li>Enter some details in the Admin page and hit the Broadcast button</li>
            <li>You should see the Real Time Map update automatically</li>
            <li>Maybe you'll get lucky and someone else will be doing this at the same time as you and you and then you will see their changes too!</li>
        </ul>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">@Html.ValidationSummary()</div>
    }

    <div>
        <fieldset id="containerFieldSetInputs">
            <form class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new {@class = "form-control", @placeholder = "Enter your name"})
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.StateFipsCode)
                    @Html.DropDownListFor(model => model.StateFipsCode, new SelectList(ViewBag.States,"Value","Text"),new {@class = "form-control"})
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.Color)
                    @Html.TextBoxFor(model => model.Color, new { @class = "form-control", @placeholder = "Enter color" })
                    @Html.ValidationMessageFor(model => model.Color)
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.Note)
                    @Html.TextBoxFor(model => model.Note, new { @class = "form-control", @placeholder = "Enter note" })
                    @Html.ValidationMessageFor(model => model.Note)
                </div>
                
                <input type="submit" value="Broadcast" class="btn btn-primary" />
            </form>
        </fieldset>
    </div>
}